body{
    background-color: #d4d4c9;
    margin: 0px;
}

header{
    background-color: #190b3a;
    color: #fff;
    height: 50px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}

h1{
    margin: 0px;
}

p{
    text-align: center;
}

#principal{
    width: 800px;
    margin: auto;
}

figure{
    background-color: #ffffff;
    width: 300px;
    margin: 15px auto;
    border: 1px solid #91aa9d;
    padding: 10px;
}

figure img{
    width: 300px;
}

figcaption{
    text-align: center;
    font-style: italic;
    padding: 5px;
}

footer{
    background-color: #91aa9d;
    color: #ffffff;
    height: 50px;
    padding: 10px;
    text-align: center;
}